__pycache__/
*.pyc
venv/
.venv/
.ipynb_checkpoints/
dataset_processed/
stockfish/
archive/
deprecated/
cclr/
dataset_clean/
dataset_ready/
dataset_bitmaps/
models
dataset_planes/
dataset_planes_cp/
dataset_bitmaps_cp/
experiments/results/old/
chess_games