__pycache__/
*.pyc
venv/
.venv/
.ipynb_checkpoints/
dataset_processed/
stockfish/
archive/
deprecated/
ccrl/
dataset_clean/
dataset_ready/
dataset_ready_probe/
models
dataset_bitmaps_cp/
dataset_planes_cp/
dataset_bitmaps_cp_probe/
dataset_planes_cp_probe/
experiments/results/old/
chess_games