__pycache__/
*.pyc
venv/
.venv/
.ipynb_checkpoints/
dataset_processed_clean_split/
dataset_processed_random_split/
dataset_processed_with_state_clean_split/
dataset_processed_with_state_random_split/
stockfish/